#ifndef H_CONFPARAMS
#define H_CONFPARAMS

// Copy over to confparams.h and enter correct auth data.
// TODO: Web configuration interface to make these hardcoded values obsolete. 
#define WIFI_SSID "..."
#define WIFI_PASSWORD "..." 
#define HTTP_URL "http:/..."
#define COUNT_PIN 2

#endif // H_CONFPARAMS
